@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" style="color:@(currentCount >= 1 && currentCount <= 5 ? "red" : "black")">
    Current count: @currentCount
</p>

<RadzenButton class="btn btn-primary" Click="IncrementCount">加算</RadzenButton>
<RadzenButton class="btn btn-primary" Click="DecrementCount">減算</RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
