@page "/TaskToroku"
@inject NavigationManager Navigation
@using BlazorApp.Models
@using BlazorApp.Services
@using System.ComponentModel.DataAnnotations

<h3>タスク登録</h3>

<EditForm Model="@gorilla" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">題名</label>
        <InputText id="title" class="form-control" @bind-Value="gorilla.Title" />
        <ValidationMessage For="@(() => gorilla.Title)" />
    </div>

    <div class="form-group">
        <label for="kigen">期限</label>
        <InputDate id="kigen" class="form-control" @bind-Value="gorilla.Kigen" />
        <ValidationMessage For="@(() => gorilla.Kigen)" />
    </div>

    <div class="form-group">
        <label for="status">状態</label>
        <InputSelect id="status" class="form-control" @bind-Value="gorilla.Status">
            <option value="0">未着手</option>
            <option value="1">仕掛中</option>
            <option value="2">完了</option>
            <option value="9">無視</option>
        </InputSelect>
        <ValidationMessage For="@(() => gorilla.Status)" />
    </div>

    <div class="form-group">
        <label for="naiyo">内容</label>
        <InputTextArea id="naiyo" class="form-control" @bind-Value="gorilla.Naiyo" />
    </div>

    <button type="submit" class="btn btn-primary">登録</button>
</EditForm>

@code {
    private BlazorApp.Models.Gorilla gorilla = new BlazorApp.Models.Gorilla();

    private void HandleValidSubmit()
    {
        GorillaService.AddGorilla(gorilla);
        Navigation.NavigateTo("/");
    }
}